<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<b>User name:</b> <nobr th:text="${user.getName()}">VALUE</nobr>
<br>
<b>User Last name:</b> <nobr th:text="${user.getLastName()}">VALUE</nobr>
<br>
<b>User age:</b> <nobr th:text="${user.getAge()}">VALUE</nobr>
<form th:action="@{/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit">
</form>
<br>
<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>